---
// JAVASCRIPT
export interface Props {
	title: string;
	description: string;
	url: string;
	image: {
		src: string;
		alt: string;
	}
	tags: string[];
}

const { title, description, url, image, tags } = Astro.props
---

<!-- HTML -->
<a href={url} class="card">
	<img src={image.src} alt={image.alt} class="thumbnail">
	<h3 class="title">{title}</h3>
	<p class="description">{description}</p>
	<ul class="tags">
		{tags && tags.map(tag => <li>{tag}</li>)}
	</ul>
</a>

<!-- CSS -->
<style>
	.card {
		height: 480px;
		display: grid;
		grid-template-rows: 6fr 1fr 2fr 1fr;
		box-shadow: var(--shadow-lg);
		background-color: white;
		padding: 1rem;
		text-decoration: none;
		color: var(--dark-blue);
		min-width: 384px;
		border-radius: 1rem;
	}

	.card:hover {
		box-shadow: var(--shadow-xl);
	}

	.thumbnail {
		width: 100%;
		max-height: 100%;
		object-fit: cover;
	}

	.title {
		color: var(--dark-blue);
		font-weight: bold;
		font-size: 1.8rem;
	}

	.description {
		font-size: 1.6rem;
	}

	.tags {
		display: flex;
		list-style: none;
		grid-gap: 1rem;
		justify-content: flex-end;
	}

	.tags li {
		border: 1px solid var(--hot-pink);
		border-radius: 10rem;
		color: var(--hot-pink);
		padding: 0.2rem 0.4rem;
	}

	.tags li:hover {
		background-color: var(--hot-pink);
		color: white;
	}
</style>