---
// JAVASCRIPT
// IF pages/index.astro ✔️
import Layout from "./Layout.astro";

const { title, description, image, tags } = Astro.props.content
---

<!-- HTML -->
<Layout title={title}>
  <img src={image.src} alt={image.alt} class="thumbnail">
  <div class="post-container">
    <slot />
    <ul class="tags">
      {tags && tags.map(tag => (
      <a href={`/tags/${tag}/`}>
        <li class="tag">{tag}</li>
      </a>
      ))}
    </ul>
  </div>
</Layout>

<!-- CSS -->
<style>
  .thumbnail {
    object-fit: cover;
    /* could be given as property in markdown file */
    max-height: 60vh;
    width: 100%;
  }

  .post-container {
    width: 68%;
    margin: auto;
    max-width: 1680px;
    margin-bottom: 5rem;
    color: var(--dark-blue);
  }

  .post-container :global(p) {
    font-size: 1.6rem;
  }

  .post-container .tags {
    display: flex;
    grid-gap: 2rem;
    justify-content: center;
    font-size: 1.6rem;
  }

  .post-container .tags a {
    text-decoration: none;
  }

  .post-container .tags .tag {
    list-style: none;
    border: 1px solid var(--hot-pink);
    border-radius: 10rem;
    padding: 0.4rem 0.8rem;
    color: var(--hot-pink);
    cursor: pointer;
  }

  .post-container .tags .tag:hover {
    background-color: var(--hot-pink);
    color: white;
  }
</style>