---
// JAVASCRIPT
// IF layouts/Layout.astro ✔️
import Layout from "./Layout.astro";
import Hero from "../components/Hero.astro";
import Card from "../components/Card.astro";

export interface Props {
  title: string;
  hero?: boolean;
  tag?: string;
  'hidden-tag'?: string
}

const { title, hero, tag, ['hidden-tag']: hiddenTag } = Astro.props

let posts = await Astro.glob('../pages/post/*.md')

// IF pages/tags/[tag].astro ✔️
// - such that only posts with tag, hiddenTag remain
// - if no tag, hiddenTag -> show all posts
posts = tag ? posts.filter(post => post.frontmatter.tags?.includes(tag) || post.frontmatter['hidden-tags']?.includes(tag)) : posts
---

<!-- HTML -->
<Layout title={title}>
  {hero &&
  <Hero />}
  <main>
    {posts && posts.map(post =>
    <Card title={post.frontmatter.title} description={post.frontmatter.description} tags={post.frontmatter.tags}
      url={post.url} image={post.frontmatter.image} />)}
  </main>
</Layout>

<!-- CSS -->
<style>
  :root {
    --astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
  }

  h1 {
    margin: 2rem 0;
  }

  main {
    grid-gap: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(384px, 1fr));
    width: 90vw;
    margin: auto;
    margin-bottom: 5rem;
    min-height: 65vh;
    padding: 6.4rem;
  }
</style>